.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e3440;
  color: #eceff4;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 18px;
}

.navLinks {
  display: flex;
  gap: 10px;
}

.navLinks a {
  color: #88c0d0;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #eceff4;
}

/* Адаптивність */
@media (max-width: 768px) {
  .navLinks {
    display: none; /* Для мобільних можемо додати бургер-меню */
  }
}
